<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="delete-po-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="delete center"></div>
                <p style="text-align:center;">Are you sure you want to delete this? You can always re-add this PO later. </p>
                <p style="text-align:center;">Click "YES" to permanently remove this record.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" name="btn-cancel">NO</button>
                <button type="button" class="btn btn-danger" data-id="" data-po="" data-sku="" name="btn-delete">YES</button>
            </div>
        </div>
    </div>
    </div>