<div class="modal fade" id="modal-delete-sku" tabindex="-1" role="dialog" aria-labelledby="delete-po-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content danger">
            <div class="modal-body">
                <div class="delete center"></div>
                <p style="text-align:center;">Are you sure you want to delete this? You'll be able to re-add this when this SKU is delivered. </p>
                <p style="text-align:center;">Click "YES" to remove this SKU.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" name="btn-cancel">NO</button>
                <button type="button" class="btn btn-danger" data-id="" data-po="" data-sku="" name="btn-delete">YES</button>
            </div>
        </div>
    </div>
    </div>